<form action="/add" method="POST">
 <!--method é a forma como os dados do formulario será enviado para o backEnd (GET envia os dados por parametros para URL, ou POST)-->
    <p>Título</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <textarea name="Conteudo"></textarea>
    <button type="submit">Cadastrar mensagem</button>
</form> 